*{
    color: black;
}
.container{
    width: 70%;
    margin: 20px;
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow:  row wrap;
  align-content: space-between;
}
.colum{    
    flex-grow: 1;
    padding: 5px; 
    width: 20%;
}
.colum-1{
    flex-grow: 0;
    margin-left: 40px;
}
.colum-2  p input{
    width: 40%;
    float: right;
    margin-right: 50px;    
}
.colume-4 input{
margin: 15px 0px;
}
.colum p{
    margin-bottom: 10px;    
}
.btn{
    padding: 10px 20px;
    border: 0px;
    border-radius: 5px;
    font-weight: 700;
}
.btn-add{
    color: white;
    background: rgb(0, 140, 255);
}
.btn-close{
    color: rgb(0, 0, 0);
    background: rgb(194, 194, 194);
}